name: CI

on:
  - push
  - pull_request

jobs:
  pipeline:
    name: pipiline
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v1
        with:
          go-version: 1.15
      - run: go version
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
      - name: Build
        run: make build
      - name: Test
        run: make test
      - uses: codecov/codecov-action@v1